#dealCardplayer1 {
  display: none;
  /* height: 50px; */
}

#dealCardplayer2 {
  display: none;
}

.cCard {
  padding: 20px;
  padding-top: 5px;
  max-width: 65px;
}

.eCard {
  padding: 20px;
  padding-top: 5px;
  max-width: 65px;
}

#cards {
  height: 20px;
}

#cards2 {
  height: 20px;
}

#playerOneDealCard {
  padding: 10px;
  margin-top: 10px;
}

#playerTwoDealCard {
  padding: 10px;
  margin-top: 10px;
}

#btnstart {
  padding: 10px;
  margin-top: 10px;
}

#playerResults {
  display: none;
  padding: 10px;
  margin-top: 10px;
}

.container {
  padding: 50px;
}
